
            <!-- Nav tabs -->
            <ul class="nav nav-tabs">
                <li class="active"><a href="#home" data-toggle="tab"><span class="glyphicon glyphicon-inbox">
                </span>Primary</a></li>
                <li><a href="#profile" data-toggle="tab"><span class="glyphicon glyphicon-user"></span>
                    Social</a></li>
                <li><a href="#messages" data-toggle="tab"><span class="glyphicon glyphicon-tags"></span>
                    Promotions</a></li>
                <li><a href="#settings" data-toggle="tab"><span class="glyphicon glyphicon-plus no-margin">
                </span></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane fade in active" id="home">
                    <div class="list-group">

                        <a  ng-repeat = "email in emails" ng-href="#/mail/{{email.type}}/{{email.id}}" class="list-group-item">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">
                                </label>
                            </div>

                            <span class="glyphicon glyphicon-star-empty">
                            </span>
                            <span class="name" style="min-width: 120px;
                                display: inline-block;">{{email.subject}} </span>
                            <span class="">{{email.title}}</span>
                            <span class="text-muted" style="font-size: 11px;">{{email.content}}</span> <span class="badge">12:10 AM</span> 
                            <span class="pull-right">
                                <span class="glyphicon glyphicon-paperclip">
                                </span>
                            </span>
                        </a>
                    </div>
                </div>
                <div class="tab-pane fade in" id="profile">
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="text-center">This tab is empty.</span>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade in" id="messages">
                    ...</div>
                <div class="tab-pane fade in" id="settings">
                    This tab is empty.</div>
            </div>
        <div ui-view = 'show'><div> 
        